certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
idna==2.10
numpy==1.19.5
opencv-python==4.5.1.48
pytube==10.4.1
requests==2.25.1
selenium==3.141.0
typing-extensions==3.7.4.3
urllib3==1.26.2
webdriver-manager==3.2.2
